<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Autores</title>
</head>
<body>
    <header>
        <h1>Equipo de Desarrollo</h1>
    </header>

    <main>
        <section>
            <figure>
                <img src="/img/pcs-pic.jpg" th:src="@{/img/pcs-pic.jpg}" alt="Foto de Pablo Cruz Sojo" width="300" height="300" />
                <figcaption>Pablo Cruz Sojo</figcaption>
            </figure>

            <figure>
                <img src="/img/jff-pic.jpg" th:src="@{/img/jff-pic.jpg}" alt="Foto de Javier Figuerol Farré" width="300" height="300" />
                <figcaption>Javier Figuerol Farré</figcaption>
            </figure>

            <figure>
                <img src="/img/pgg-pic.jpg" th:src="@{/img/pgg-pic.jpg}" alt="Foto de PAULA GUADILLA GÓMEZ" width="300" height="300" />
                <figcaption>Paula Guadilla Gómez</figcaption>
            </figure>

            <figure>
                <img src="/img/ljg-pic.jpg" th:src="@{/img/ljg-pic.jpg}" alt="Foto de LUIS JARIOD GUERRERO" width="300" height="300" />
                <figcaption>LLuis Jariod Guerrero</figcaption>
            </figure>

            <figure>
                <img src="/img/ntf-pic.jpg" th:src="@{/img/ntf-pic.jpg}" alt="Foto de Nicolás Emmanuel Trefftz Fernández" width="300" height="300" />
                <figcaption>Nicolás Emmanuel Trefftz Fernández</figcaption>
            </figure>
        </section>
    </main>
</body>
</html>