<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="~{fragments/head :: header}" />
    <title>IW: Welcome</title>
</head>

<body class="d-flex flex-column h-100">
    <header th:replace="~{fragments/nav.html :: nav}"></header>

    <main class="flex-shrink-0">
        <div class="container">
            <h1 class="mt-5">Bienvenid@ a Frenemy</h1>
            <h2> (Friends to Enemies)</h2>

            <br>
            <h3>¿Quieres poner a prueba tu amistad con tus amigos?</h3>
            <p>Frenemy es la aplicación perfecta para evaluar vuestro nivel de amistad, poniéndote a ti y a tus amigos a
                prueba con distintos minijuegos, como juegos de cartas donde tendréis que torpedearos los unos a los
                otros para alcanzar la victoria, sin mostrar ningún tipo de piedad por tus, “amigos”... ¿Sobrevivirá
                vuestra amistad a nuestros juegos? ¿Seréis capaces de afrontar este desafío? ¿O tendréis que buscar
                nuevas amistades? Descubrirlo en Frenemy.

            </p>

            <br>
            <h3>¿Qué usuarios tendrá Frenemy y a que se dedicarán?</h3>
            <p>Administrador: Podrá modificar, añadir o eliminar juegos a la lista de juegos disponibles, y gestionar
                los usuarios
                Host: Usuario normal, que creará la sala, seleccionará entre los juegos disponibles y gestiona el orden
                de juego y número de jugadores.
                Jugador: Participa en los distintos juegos, uniéndose a un Host, y jugando con otros jugadores, pudiendo
                consultar su afinidad y resultados.</p>

        </div>
    </main>

    <th:block th:replace="~{fragments/footer.html :: footer}" />
</body>

</html>