<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="~{fragments/head :: header}" />
    <title>IW: Admin</title>


    <link rel="stylesheet" th:href="@{/css/simple-datatables-10.css}" href="/css/simple-datatables-10.css"
        type="text/css" />
    <link rel="stylesheet" th:href="@{/css/admin.css}" href="/css/admin.css" type="text/css" />
    <link rel="stylesheet" th:href="@{/css/bootstrap-5.3.3.css}" href="/css/bootstrap-5.3.3.css" type="text/css" />
</head>

<body>
    <header th:replace="~{fragments/nav.html :: nav}"></header>

    <main class="container-fluid d-flex justify-content-center">
        <div class="contenedor-admin m-5 ">
            <h1 class="titulo-admin">Gestión de usuarios</h1>
            <h3 class="mt-5">Usuarios</h3>
            <table id="tablaUsuarios"
                class="tabla-usuarios table table-striped table-hover align-middle table-bordered">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nombre & Apellidos</th>
                        <th>Roles</th>
                        <th class="acciones">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="user : ${users}">
                        <td th:text="${user.id}"></td>
                        <td th:text="${user.username}"></td>
                        <td th:text="${user.roles}"></td>
                        <td>
                            <form th:action="@{'/admin/toggle/' + ${user.id}}" th:method="post"
                                style="display: inline-block;">
                                <button type="submit" class="toggle btn btn-sm btn-outline-danger" aria-label="banear"
                                    title="Banear">
                                    <img th:src="${user.enabled} ? '/img/icons/user.svg' : '/img/icons/user_ban.svg'"
                                        height="18px">
                                </button>
                            </form>
                            <form th:action="@{'/admin/chatBan/' + ${user.id}}" th:method="post"
                                style="display: inline-block;">
                                <button type="submit" class="chat-toggle btn btn-sm btn-outline-danger"
                                    aria-label="censurar" title="Censurar">
                                    <img th:src="${user.chatBan} ? '/img/icons/mute.svg' : '/img/icons/voice.svg'"
                                        height="18px">
                                </button>
                            </form>
                        </td>
                    </tr>
                </tbody>
            </table>
            <br>
            <hr>
            <h3 class="mt-5">Partidas</h3>
            <table id="tablaPartidas"
                class="tabla-Partidas table table-striped table-hover align-middle table-bordered">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Codigo</th>
                        <th>Host</th>
                        <th>Visibilidad</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="lobby : ${lobbies}">
                        <td th:text="${lobby.id}"></td>
                        <td th:text="${lobby.code}"></td>
                        <td th:text="${lobby.host.username}"></td>
                        <td th:if="${lobby.privado}">Privado</td>
                        <td th:unless="${lobby.privado}">Publico</td>
                        <td>
                            <form th:action="@{'/admin/closeGame/' + ${lobby.code}}" th:method="post"
                                style="display: inline-block;">
                                <button type="submit" class="btn-close-game game-toggle btn btn-sm btn-outline-danger"
                                    aria-label="cerrar partida" title="Cerrar partida">
                                    <img th:src="@{/img/icons/ban.svg}" height="18px" alt="Cerrar partida">
                                </button>
                            </form>
                            <button th:onclick="'abrirChat(' + ${lobby.id} + ')'"
                                class="chat-view btn btn-sm btn-outline-danger " aria-label="cerrar partida"
                                title="Ver chat">
                                <img th:src="@{/img/icons/chat.svg}" height="18px" alt="Icono de chat">
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <br>
            <hr>
            <div class="container m-2">

                <h2>Últimos 5 mensajes del sistema</h2>
                <table id="messages"></table> <!-- will be filled with JSON data-->
                <button id="refresh" class="btn btn-primary">Actualizar vía AJAX</button>

            </div>

    </main>

    <th:block th:replace="~{fragments/footer.html :: footer}" />
    <script>
        const toggles = document.querySelectorAll('.toggle');
        toggles.forEach(toggle => {
            toggle.addEventListener('click', (e) => {
                e.preventDefault();
                const form = e.target.closest('form');
                const img = form.querySelector('img');

                go(form.action, 'POST').then((data) => {
                    if (data.enabled) {
                        img.src = '/img/icons/user.svg';
                        console.log("Usuario baneado");
                    } else {
                        img.src = '/img/icons/user_ban.svg';
                        console.log("Usuario desbaneado");
                    }
                    console.log(d);
                });
            });
        });

        document.querySelectorAll('.chat-toggle').forEach(btn => {
            btn.addEventListener('click', (e) => {
                e.preventDefault();

                const form = e.target.closest('form');
                const img = form.querySelector('img');

                go(form.action, 'POST').then((data) => {
                    if (data.chatBan) {
                        img.src = '/img/icons/mute.svg';
                        console.log("Usuario silenciado");
                    } else {
                        img.src = '/img/icons/voice.svg';
                        console.log("Silencio levantado");
                    }
                }).catch(err => {
                    console.error("Error al mutear:", err);
                });
            });
        });

        function abrirChat(id) {
            const url = '/admin/viewChat/' + id;
            const params = 'width=400,height=600,menubar=no,toolbar=no,location=no,status=no';
            window.open(url, 'ChatPartida' + id, params);
        }
    </script>

    <script type="module">
            import { DataTable } from "../js/simple-datatables-10.js"
            let dt = null;
            function refreshMessages() {
                go('/admin/all-messages', 'GET').then((d) => {
                    if (dt) {
                        dt.destroy();
                        document.querySelector("#messages").innerHTML = '';
                    }
                    dt = new DataTable('#messages', {
                        data: {
                            headings: ['From', 'Game', 'Text'],
                            data: d.map(m => [m.sender, m.game, m.text])
                        },
                        searchable: true,
                        paging: false
                    });
                    dt.on("datatable.selectrow", (rowIndex, event, focused) => {
                        event.preventDefault();
                        console.log("click en fila: ", dataTable.data[rowIndex]);
                    });
                });
            }
            document.getElementById('refresh').addEventListener('click', refreshMessages);
            refreshMessages();
    </script>

    <script th:src="@{/js/admin.js}"></script>
</body>

</html>
