<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>

    <th:block th:replace="~{fragments/head :: header}" />
    <title>Autores</title>
</head>


<body class="d-flex flex-column h-100">
    <header th:replace="~{fragments/nav.html :: nav}"></header>

    <main class="flex-shrink-0">
        <div class="container">
            <h1 class="mt-5 mb-4 text-center">Equipo de Desarrollo</h1>

            <div class="row row-cols-1 row-cols-md-3 g-4 justify-content-center">
                <div class="col">
                    <div class="card h-100 shadow-sm img-fluid">
                        <img th:src="@{/img/pcs-pic.jpg}" 
                             class="card-img-top" 
                             alt="Foto de Pablo Cruz Sojo" 
                             style="height: 250px; object-fit: cover;">
                        <div class="card-body text-center">
                            <h5 class="card-title fw-bold">Pablo Cruz Sojo</h5>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100 shadow-sm img-fluid">
                        <img th:src="@{/img/jff-pic.jpg}" 
                             class="card-img-top" 
                             alt="Foto de Javier Figuerol Farré" 
                             style="height: 250px; object-fit: cover;">
                        
                        <div class="card-body text-center">
                            <h5 class="card-title fw-bold">Javier Figuerol Farré</h5>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100 shadow-sm img-fluid">
                        <img th:src="@{/img/pgg-pic.jpg}" 
                             class="card-img-top" 
                             alt="Foto de Paula Guadilla Gómez" 
                             style="height: 250px; object-fit: cover;">
                        
                        <div class="card-body text-center">
                            <h5 class="card-title fw-bold">Paula Guadilla Gómez</h5>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100 shadow-sm img-fluid">
                        <img th:src="@{/img/ljg-pic.jpg}" 
                             class="card-img-top" 
                             alt="Foto de Luis Jariod Guerrero" 
                             style="height: 250px; object-fit: cover;">
                        
                        <div class="card-body text-center">
                            <h5 class="card-title fw-bold">Luis Jariod Guerrero</h5>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100 shadow-sm img-fluid">
                        <img th:src="@{/img/ntf-pic.jpg}" 
                             class="card-img-top" 
                             alt="Foto de Nicolás Emmanuel Trefftz Fernández" 
                             style="height: 250px; object-fit: cover;">
                        
                        <div class="card-body text-center">
                            <h5 class="card-title fw-bold">Nicolás Emmanuel Trefftz Fernández</h5>
                        </div>
                    </div>
                </div>
                
                </div>
            </div>
    </main>

    <div class="footer mt-4">

        <th:block th:replace="~{fragments/footer.html :: footer}" />
    </div>
    
</body>

</html>
