<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="~{fragments/head :: header}" />
    <title>IW: Welcome</title>
    <link rel="stylesheet" th:href="@{/css/index.css}">
</head>

<body class="d-flex flex-column h-100">
    <div class="video-bg-container">
        <div class="video-bg-overlay"></div>
    </div>

    <header th:replace="~{fragments/nav.html :: nav}"></header>

    <main class="flex-grow-1 d-flex align-items-center">
        <div class="container py-5">
            <div class="text-center mb-5">
                <h1 class="mt-5 title-gradient display-4">Bienvenid@ a Frenemy</h1>
                <h2 class="h4 opacity-75"> (Friends to Enemies)</h2>


            </div>
            <div class="row justify-content-center">

                <!-- Si el usuario ya ha iniciado sesión, mostramos menu con opciones -->
                <th:block th:if="${u}">
                    <div class="col-12">
                        <div class="cta-group">
                            <a th:href="@{/lobby-select}" class="btn-primary">Ver lobbys disponibles</a>
                            <a th:href="@{/profile}" class="btn-secondary">Ver mi perfil</a>
                            <a th:if="${u.hasRole('ADMIN')}" th:href="@{/admin/}" class="btn-secondary">Administración</a>
                        </div>
                    </div>
                </th:block>
                <!-- Si no ha iniciado sesión, login y register-->
                <th:block th:unless="${u}">
                    <div class="col-12">
                        <div class="cta-group">
                            <a th:href="@{/login}" class="btn-primary">Login</a>
                            <a th:href="@{/register}" class="btn-secondary">Register</a>
                        </div>
                    </div>

                </th:block>
            </div>
        </div>
    </main>

    <th:block th:replace="~{fragments/footer.html :: footer}" />
</body>

</html>