<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="~{fragments/head :: header}" />
    <title>IW: Welcome</title>
</head>

<body class="d-flex flex-column h-100">
    <header th:replace="~{fragments/nav.html :: nav}"></header>

    <main class="flex-shrink-0">
        <div class="container">
            <h1 class="mt-5">Sala de espera</h1>

            <div class="card mt-4">
                <div class="card-body">
                    <h5 class="card-title">¡Bienvenido a la sala de espera!</h5>
                    <p class="card-text">El código de esta sala es: <strong th:text="${roomCode}">ROOMCODE</strong>.
                        <br>
                        Compártelo con tus amigos para que puedan unirse a esta sala y comenzar a jugar juntos.
                    </p>
                </div>
            </div>
            <div class="card mt-4">
                <div class="card-body">
                    <h5 class="card-title">Configuración de la partida</h5>
                    <div class="btn-group">
                        <button type="button" class="btn btn-primary" id="p_publica">Partida pública</button>
                        <button type="button" class="btn btn-primary" id="p_privada">Partida privada</button>
                    </div>
                    <div id="publica_content" class="mt-3">
                        <p class="card-text">Si la partida es pública, esperamos a que se unan jugadores</p>
                        <div class="spinner-border text-primary" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                    </div>

                    <div id="privada_content" class="mt-3 d-none mb-3">
                        <p class="card-text">Si la partida es privada, Invita a tus amig@s.</p>
                        <div id="friends" class="border border-2 border-primary rounded">
                            <label for="username">Id Usuario</label><input id="username" value="9781" />
                            <button id="fetchUser">Buscar a tu amig@</button>
                        </div>
                    </div>



                    <div class="row row-cols-1 row-cols-md-3 g-4 justify-content-center">

                        <div class="col">
                            <div class="card h-100 shadow-sm img-fluid">
                                <img th:src="@{/img/uno.jpg}" class="card-img-top" alt="Foto de Pablo Cruz Sojo"
                                    style="height: 250px; object-fit: cover;">
                                <div class="card-body text-center">
                                    <h5 class="card-title fw-bold">Uno</h5>
                                </div>
                            </div>
                        </div>

                        <div class="col">
                            <div class="card h-100 shadow-sm img-fluid">
                                <img th:src="@{/img/dos.jpg}" class="card-img-top" alt="Foto de Pablo Cruz Sojo"
                                    style="height: 250px; object-fit: cover;">
                                <div class="card-body text-center">
                                    <h5 class="card-title fw-bold">Dos</h5>
                                </div>
                            </div>
                        </div>

                        <div class="col">
                            <div class="card h-100 shadow-sm img-fluid">
                                <img th:src="@{/img/nomercy.jpg}" class="card-img-top" alt="Foto de Pablo Cruz Sojo"
                                    style="height: 250px; object-fit: cover;">
                                <div class="card-body text-center">
                                    <h5 class="card-title fw-bold">Uno no mercy</h5>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
    </main>

    <th:block th:replace="~{fragments/footer.html :: footer}" />
    <script th:src="@{/js/lobby.js}" src="js/lobby.js"></script>
</body>

</html>